<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!--
    The file extensions that determine if files should be treated as videos are defined below
    as a comma-separated list.
    -->
    <add key="VideoFileExtensions" value="mov,mpg,mpeg,mp4,avi,wmv,3g2,3gp,m4v,asf,mts,m2ts,ogg,ogv" />
    <!--
    If you want a portable application, set the following paths to local files.
    E.g. you can simply change the values to "SchedulrConfiguration.xml" and "Schedulr.log"
    and the application will use those files in the root directory.
    -->
    <add key="ConfigurationFilePath" value="" />
    <add key="LogFilePath" value="" />
    <!--
    When it takes longer than the number of seconds specified below to upload a file,
    the upload is aborted. Change the timeout if you want upload large files that cannot
    be uploaded in that amount of time. The default is 600 seconds (10 minutes).
    -->
    <add key="UploadTimeoutSeconds" value="600" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!--
      If you want to adjust the logging output, these are the available options for the "switchValue":
      All, Critical, Error, Warning, Information, Verbose, Off
      -->
      <source name="Schedulr" switchValue="Information" />
      <source name="SchedulrPlugins" switchValue="Information" />
    </sources>
    <trace autoflush="true" indentsize="3" />
  </system.diagnostics>
</configuration>